/*zerar*/
* {
    padding: 0;
    margin: 0;    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Fontes*/
@font-face {
    font-family: fonte1;
    src: local("Raleway-Regular"),
    url(/fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family: "fonte2";
    src: local("Raleway-Italic"),
    url(/fonts/Raleway-Italic.ttf)
}
@font-face {
    font-family: "fonte3";
    src: local("Raleway-Thin"),
    url(/fonts/Raleway-Thin.ttf)
}

/*ESTRUTURA GERAL*/
.principal {
   display: grid;
   grid-template-columns: 2fr 3fr 1fr;
   grid-template-areas:
        "header header header"
        "main main aside"
        "section section aside"
        "footer footer footer"
    ;
}

/*HEADER*/
.header {
    grid-area: header;
    background: linear-gradient(135deg, red, rgb(202, 185, 185)); /*opacidade*/
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: "fonte3", Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;      
}

.header nav a {
    display: block;
    padding: 0 30px;
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    transition: 0.2s ease-out;
    color: white;    
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

.header li + li {
    margin-left: 20px;
}

/*MAIN*/
.main {
    grid-area: main;
    background: yellow;
    margin-top: 30px;
    display: grid;
    font-family: "fonte2", Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
    grid-template-columns: 1fr 1fr;
}

.main p {
    display: block;
    padding: 10px;
    background: cyan;
    border-radius: 20px;
    box-shadow: 2px 6px 10px darkblue;
    margin: 5px 5px;
}

.main-p1 {
    grid-row: span 2;
    align-self: center;
    font-size: 25px;
}

/*SECTION*/
.section {
    grid-area: section;
    background: rgb(131, 131, 192);
    margin-top: 30px;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    ;
}

.article {
    grid-column: 1 / -1;
}

.section img {
    max-width: 100%;
}

/*ASIDE*/
.aside {
    grid-area: aside;
    background: burlywood;
    display: grid;
    align-content: flex-start;
    margin-top: 30px;
    padding: 5px;
    grid-gap: 10px
}

.aside img {
    display: block;
    border-radius: 10px;
    max-width: 100%;
}

/*FOOTER*/
.footer {
    grid-area: footer;
    background: cadetblue;
    font-family: "fonte2", Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.footer nav ul {
    display: flex;
    flex-wrap: wrap;    
}

.footer li + li {
    margin-left: 20px;
}
